<div style="text-align:center">
    <h1>
        Weather forecasts
    </h1>
</div>

<div style="width: 300px; margin: 0 auto;">
    <form novalidate>
        <input style="width: 140px;" type="text" placeholder="city" (input)="cityChanged($event.target.value)" />
        <input style="width: 140px;" type="text" placeholder="country" (input)="countryChanged($event.target.value)" />
        <span *ngIf="isLoading">Loading weather forecast</span>
        <hr />
        <span>{{ weatherConditions }}</span>
    </form>
</div>